# Frontend
/src/frontend/ @robbedell

# Backend
/src/backend/ @robbedell

# Documentation
/docs/ @robbedell

# Configuration
/config/ @robbedell

# Docker
/docker/ @robbedell

# GitHub Actions
/.github/ @robbedell

# Default owners for everything in the repo
* @robbedell
