[submodule "GitHub/cve_config_generation"]
	path = GitHub/cve_config_generation
	url = https://github.com/robbedell/cve_config_generation.git
[submodule "GitHub/palo_alto_poc"]
	path = GitHub/palo_alto_poc
	url = https://github.com/robbedell/palo_alto_poc.git
